body{
    background:linear-gradient(to right,rgba(76, 67, 205, 0.692), rgb(71, 168, 160)); 
}





.login{

    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
     margin-top: 10%;
    margin-left: 37%;
    margin-right: 37%;
    padding-top: 9%;
    padding-bottom: 9%;
    border-radius: 15px;
    /* box-shadow: 21px 24px 32px 0 rgb(0 0 0 / 33%);  */
}

.header{
    text-align: center;
}

h1{
    text-align: center;
    margin-bottom: 35px;
}


.subpart{
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 85px;
}

.subpart2{
    padding-top: 2px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 85px;
}

input{
     padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 85px; 
    width: 90%;
    font-size: 16px;
    border: none;
    border-radius: 3px;
}


input:focus{
    outline: none;
}


.part2{
    margin-top: 25px;
    text-align: center;
}


.con-btn{
    cursor: pointer;
    background-color: #585552;
    color: white;
    border: none;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 39.5%;
    padding-right: 39.5%;
    border-radius: 3px;
    margin-right: 5px;
}


.con-btn:hover{
    background-color: #42403e;
}


.para1{
    padding-left: 12px;
}


.para1 a{
    text-decoration: none;
    color: rgb(33, 29, 243);
}


.signupshort a{
    text-decoration: none;
    color: rgb(33, 29, 243);
}